<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
  href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.14.4/jquery.min.js"></script>
<script
  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript"
  src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<link rel="stylesheet"
  href="https://formden.com/static/cdn/bootstrap-iso.css" />
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script
  src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script
  src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script>
  function myFunction() {
    var divitem = document.getElementById("Row_Table");
    divitem.style.display = 'none';
    //var divitem1 = document.getElementById("Mod_Table");
  //  divitem1.style.display = 'none';
    
  }
  function getTable() {
    $("#Row_Table").show();
  }
  
  function modifyTable(){
    document.getElementById('table').contentEditable='true';
  }
  
  $(document).ready(function() {
    $("#userForm").submit(function() {
       $("#Row_Table").hide();
       $('#someHiddenDiv').show();

      ip = $(this).find("#IP").val();
      fqdn = $(this).find("#FQDN").val();
      server_name = $(this).find("#SERVER_NAME").val();
      serverowner = $(this).find("#SERVER_OWNER").val();
      application_name = $(this).find("#APPLICATION_NAME").val();
      app_support_conatct = $(this).find("#APP_SUPPORT_CONTACT").val();
      console = $(this).find("#CONSOLE").val();
      machine_type = $(this).find("#MACHINE_TYPE").val();
      os_type = $(this).find("#OS_TYPE").val();
      oslevel = $(this).find("#OS_LEVEL").val();
      decomission = $(this).find("#DECOMMISSION").val();
      date = $(this).find("#DATE").val();
      decommission_request = $(this).find("#DECOMMISSION_REQUEST").val();
      user = $(this).find("#USER").val();
      environment = $(this).find("#ENVIRONMENT").val();
      in_scope_for_patch = $(this).find("#INSCOPE_FOR_PATCH").val();

      var data = {
        "ip" : ip,
        "fqdn" : fqdn,
        "server_name" : server_name,
        "serverowner" : serverowner,
        "application_name" : application_name,
        "app_support_conatct" : app_support_conatct,
        "console" : console,
        "machine_type" : machine_type,
        "os_type" : os_type,
        "oslevel" : oslevel,
        "decomission" : decomission,
        "date" : date,
        "decommission_request" : decommission_request,
        "user" : user,
        "environment" : environment,
        "in_scope_for_patch" : in_scope_for_patch

      };
      alert(JSON.stringify(data));
      $.ajax({
        type : 'post',
        url : '/addrow/',
        dataType : 'text',
          data : data,
        success : function(result) {
          console.log('Done');
          $('#someHiddenDiv').show();

        },
        
        failure : function(result) {
          console.log('Something went missing');

        }
      });
      return false;
    });
  });
  

      function subject() {
        $.ajax({
              type : 'POST',
              url : '/state/',
              dataType : 'text',
              data : {
                csrfmiddlewaretoken : '{{csrf_token}}',
              },
              success : function(data) {
                $('#table').dataTable({
                  data : data,
                  'sort': false,
                  columns:[
                           { 'data':'ip'},
                           {'data':'fqdn'},
                           {'data':'server_name'},
                           {'data': 'serverowner'},
                           {'data':'application_name'},
                           {'data':'app_support_conatct'},
                           {'data':'console'},
                           {'data':'machine_type'},
                           {'data':'site_type'},
                           ]
                });
                },
              )};
      }
                            
      
  $(document).one('ready', function () {
  console.log("ready!");
          subject();
      });

</script>


</head>
<body onload="myFunction()">


  <div class="container-fluid" style="background: orange;">
    <br> <br>
    <div class="text-right">
      <button type="button" onclick="getTable()" class="btn btn-info ">Add
        Row</button>
      <button type="button" class="btn btn-info" onclick="modifyTable()">Modify
        Table</button>
      <h4></h4>
      <h4></h4>
      <div class="row">
        <div class="col-md-14">

          <div id="Row_Table">
            <form class="form-horizontal" id="userForm">
              <div class="form-group">

    <div class="table-responsive">
      <br> <br>
      <div id="mod_Table">
      <table class="table table-bordered table-hover table-active"
        id="table" cellspacing="0" width="100%>
        <thead>
            <tr>
            <th>IP</th>
            <th>FQDN</th>
              <th>Server Name</th>
              <th>Server Owner</th>
              <th>Application Name</th>
              <th>App Support Conatct</th>
              <th>Console</th>
              <th>Machine Type</th>
              <th>Site Type</th>
            </tr>
          </thead>
      </table>
      </div>
    </div>
  </div>
</body>
</html>